.text-primary-color    { color: #FFFFFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

.header-container {
  margin: 1%;
}
.logo-container {
  text-align: right;
}
a.brand-logo > svg {
  width: 100px;
  vertical-align: middle;
}
.personal-info {
  text-align: center;
}
.personal-info-value {
  text-decoration: none;
}

.personal-info .fa {
  font-size: 2em;
  margin: 1%;
}
.personal-info-value i:hover{
  color: #29b6f6;
}

.footer-content {
  font-weight: 600;
}
.footer-content:hover {
  color: #29b6f6;
}

.date-new {
  margin: 0;
  padding: 0;
}
.row-new {
  margin: 0;
  padding: 0;
}
.title-content {
  font-size: 2em;
  border-bottom: 1px solid #B6B6B6;
}

