---
layout: default-no-ad
---
<div class="row">
  <p class="site-description">
    Javascript, NodeJs, Html5, CSS3, Animations and more. My name is Juan José García and this is my personal blog.
    News are things I investigate, Demos are those things I try to do just as a learning concept on something I like.
  </p>
  <div class="col l6 m12 s12">
    <h3 class="primary-text-color title-content divider-color">
      News
    </h3>
    <ul class="collapsible" data-collapsible="expandable">
      {% for post in site.categories.news %}
      <li>
        <div class="collapsible-header open-container">
          <small itemprop="headline center">
            {{ post.headline }}
          </small>
          <div class="primary-text-color btn-link-header right">
            <a class="fa fa-chevron-down"></a>
          </div>
        </div>
        <div class="collapsible-body blue-grey lighten-5">
          <small class="date-new primary-text-color right" itemprop="datePublished" content="{{ post.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%b %-d, %Y" }}
          </small>
          <p class="primary-text-color post-description" itemprop="description">
            {{ post.description }}
          </p>
          <p class="project-link-index">
            <a href="{{ post.url }}" class="stop-propagation" itemprop="url">
              <i class="fa fa-book"></i> Read
            </a>
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col l6 m12 s12">
    <h3 class="primary-text-color title-content divider-color">
      Demos
    </h3>
    <ul class="collapsible" data-collapsible="expandable">
      {% for post in site.categories.projects %}
      <li>
        <div class="collapsible-header open-container" itemscope itemtype="http://schema.org/Article">
          <small itemprop="headline center">
            {{ post.headline }}
          </small>
          <div class="primary-text-color btn-link-header right">
            <a class="fa fa-chevron-down"></a>
          </div>
        </div>
        <div class="collapsible-body blue-grey lighten-5">
          <p class="primary-text-color project-description" itemprop="description">
            {{ post.description }}
          </p>
          <p class="project-link-index">
            <a href="{{ post.url }}" class="stop-propagation" itemprop="url">
              <i class="fa fa-book"></i> Read
            </a>
          </p>
          <p class="project-link-index">
            <a href="{{ post.external }}" class="stop-propagation" target="_blank">
              <i class="fa fa-external-link"></i> Demo
            </a>
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
