---
layout: default-no-ad
---
<div class="row">
  <p class="site-description">
    Javascript, NodeJs, Html5, CSS3, Animations and more. My name is Juan José García and this is my personal blog.
    <br>
    News are things I investigate, Demos are those things I try to do just as a learning concept on something I like.
    <br>
    Creation and design for IoT in: <a itemprop="url" href="{{ site.thingiverse}}" target="_blank">Thingiverse</a>
    <br>
    My Youtube channel with all my experiments: <a itemprop="url" href="{{ site.youtubechannel }}" target="_blank">Hands on with Jotaoncode</a>
  </p>
  <div class="col l6 m12 s12">
    <h3 class="primary-text-color title-content divider-color">
      Distributed systems
    </h3>
    <ul class="collapsible" data-collapsible="expandable">
      {% for post in site.categories.distributed %}
      <li>
        <div class="collapsible-header open-container">
          <small itemprop="headline center">
            {{ post.headline }}
          </small>
          <div class="primary-text-color btn-link-header right">
            <a class="fa fa-chevron-down"></a>
          </div>
        </div>
        <div class="collapsible-body blue-grey lighten-5">
          <small class="date-new primary-text-color right" itemprop="datePublished" content="{{ post.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%b %-d, %Y" }}
          </small>
          <p class="primary-text-color post-description" itemprop="description">
            {{ post.description }}
          </p>
          <p class="project-link-index">
            <a href="{{ post.url }}" class="stop-propagation" itemprop="url">
              <i class="fa fa-book"></i> Read
            </a>
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col l6 m12 s12">
    <h3 class="primary-text-color title-content divider-color">
      Frameworks and tools
    </h3>
    <ul class="collapsible" data-collapsible="expandable">
      {% for post in site.categories.framework %}
      <li>
        <div class="collapsible-header open-container">
          <small itemprop="headline center">
            {{ post.headline }}
          </small>
          <div class="primary-text-color btn-link-header right">
            <a class="fa fa-chevron-down"></a>
          </div>
        </div>
        <div class="collapsible-body blue-grey lighten-5">
          <small class="date-new primary-text-color right" itemprop="datePublished" content="{{ post.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%b %-d, %Y" }}
          </small>
          <p class="primary-text-color post-description" itemprop="description">
            {{ post.description }}
          </p>
          <p class="project-link-index">
            <a href="{{ post.url }}" class="stop-propagation" itemprop="url">
              <i class="fa fa-book"></i> Read
            </a>
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col l6 m12 s12">
    <h3 class="primary-text-color title-content divider-color">
      Languages
    </h3>
    <ul class="collapsible" data-collapsible="expandable">
      {% for post in site.categories.language %}
      <li>
        <div class="collapsible-header open-container">
          <small itemprop="headline center">
            {{ post.headline }}
          </small>
          <div class="primary-text-color btn-link-header right">
            <a class="fa fa-chevron-down"></a>
          </div>
        </div>
        <div class="collapsible-body blue-grey lighten-5">
          <small class="date-new primary-text-color right" itemprop="datePublished" content="{{ post.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%b %-d, %Y" }}
          </small>
          <p class="primary-text-color post-description" itemprop="description">
            {{ post.description }}
          </p>
          <p class="project-link-index">
            <a href="{{ post.url }}" class="stop-propagation" itemprop="url">
              <i class="fa fa-book"></i> Read
            </a>
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col l6 m12 s12">
    <h3 class="primary-text-color title-content divider-color">
      Other
    </h3>
    <ul class="collapsible" data-collapsible="expandable">
      {% for post in site.categories.other %}
      <li>
        <div class="collapsible-header open-container" itemscope itemtype="http://schema.org/Article">
          <small itemprop="headline center">
            {{ post.headline }}
          </small>
          <div class="primary-text-color btn-link-header right">
            <a class="fa fa-chevron-down"></a>
          </div>
        </div>
        <div class="collapsible-body blue-grey lighten-5">
          <p class="primary-text-color project-description" itemprop="description">
            {{ post.description }}
          </p>
          <p class="project-link-index">
            <a href="{{ post.url }}" class="stop-propagation" itemprop="url">
              <i class="fa fa-book"></i> Read
            </a>
          </p>
          <p class="project-link-index">
            <a href="{{ post.external }}" class="stop-propagation" target="_blank">
              <i class="fa fa-external-link"></i> Demo
            </a>
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
