<div>
  <script type="text/javascript" src="{{ "js/jquery.min.js" | prepend: site.url }}"></script>
  <script type="text/javascript" src="{{ "js/materialize.js" | prepend: site.url }}"></script>
  <script>
    function removeAdListener() {
      $('.ad-close').click(function (ev) {
        var target = $(ev.currentTarget).data('target');
        ev.preventDefault();
        $('#' + target).hide();
      });
    }
    function stopPropagationOnLinks() {
      $('.stop-propagation').click(function (ev) {
        ev.stopPropagation();
      });
    }
    function changeChevronUpDown() {
      $('.open-container').click(function (ev) {
        var chevDown = $(ev.currentTarget).find('.fa-chevron-down'), chevUp;
        if (chevDown && chevDown.length > 0) {
          chevDown.removeClass('fa-chevron-down').addClass('fa-chevron-up');
        } else {
          chevUp = $(ev.currentTarget).find('.fa-chevron-up');
          chevUp.removeClass('fa-chevron-up').addClass('fa-chevron-down');
        }
      });
    }
    $(document).ready(function () {
      $('.collapsible').collapsible({
        accordion: false
      });
      removeAdListener();
      changeChevronUpDown();
    });
  </script>
  {% include google-analytics.html %}
</div>
