/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-decoration: none;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    width: 100%;
    display: inline-block;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    text-align: center;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 3em;
        text-align: center;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 2.5em;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 2em;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    h5 {
        font-size: 1.5em;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

}

.text-primary-color    { color: #FFFFFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

.header-container {
  margin: 1%;
}
.head-title {
  font-size: 2em;
  text-decoration: none;
}
.logo-container {
  text-align: right;
}
a.brand-logo > svg {
  width: 100px;
  vertical-align: middle;
}
.personal-info {
  text-align: center;
  width: 100%;
  display: inline-block;
}
.personal-info-value {
  text-decoration: none;
}

.personal-info .fa {
  font-size: 2em;
  margin: 1%;
}
@media only screen and (max-width : 600px) {
  .personal-info .fa {
    font-size: 2em;
    margin: 1%;
  }
  .logo-container {
    text-align: center;
  }

}
@include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.personal-info-value i:hover{
  color: #29b6f6;
}

.footer-content {
  font-weight: 600;
}
.footer-content:hover {
  color: #29b6f6;
}
.title-content {
  font-size: 2em;
  border-bottom: 1px solid #B6B6B6;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}
.ads-left {
  width: 300px;
  display: none;
  position: absolute;
  top: 250px;
  left: 0px;
}
.ads-right {
  width: 300px;
  display: none;
  position: absolute;
  top: 250px;
  right: 0px;
}
.ads-horizontal {
  height: 90px;
  width: 728px;
  margin: 0 auto;
}
.page-content {
  width: calc(100% - 620px);
  margin: 0 auto;
  padding: 1%;
}

.card-container {
  width: 80%;
  padding: 1%;
  margin: 0 auto;
}
.container-bio {
  margin: 0 auto;
}
.container-bio-description {
  margin: 0 auto;
  width: 80%;
  padding: 1%;
}
.bio-image-container {
  float: left;
  width: 20%;
}
.bio-basic-info-container {
  width: 80%;
  margin-left: 20%;
  padding: 1%;
}

.bio-image {
  border-radius: 50%;
}
.page-title {
  text-align: center;
}
@media only screen and (max-width : 700px) {
  .bio-image-container {
    width: 100%;
  }
  .bio-basic-info-container {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width : 900px) {
  .page-content {
    width: 100%;
    padding: 5%;
  }
}
@media only screen and (max-width : 992px) {
  .logo-container {
    text-align: center;
  }
}

@media only screen and (max-width : 1200px) and (min-width: 901px){
  .page-content {
    width: calc(100% - 310px);
    padding: 2%;
  }
  .ads-right {
    display: block;
  }
}
@media only screen and (min-width : 1201px) {
  .ads-left {
    display: block;
  }
}
