---
sitemap:
  lastmod: 2015-11-19
  priority: 0.7
  changefreq: 'monthly'
  exclude: 'yes'
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <article itemscope itemtype="http://schema.org/Blog">
      {% include header.html %}
      <aside class="ads-left" id="ad-left">
        {% include adsense-left.html %}
      </aside>
      {{ content }}
      <aside class="ads-right" id="ad-right">
        {% include adsense-right.html %}
      </aside>
      {% include footer.html %}
    </article>
    {% include jsLinks.html %}
  </body>
</html>
