---
layout: default
---
<div class="container page-content" itemscope itemtype="http://schema.org/BlogPosting" itemid="{{ post.url }}">
  <div itemprop="about" itemscope itemtype="http://schema.org/Event">
    <time itemprop="startDate" datetime="{{ coverageStartTime }}"></time>
    <meta itemprop="name" datetime="{{ description }}"/>
  </div>
  <time itemprop="coverageStartTime" datetime="{{ coverageStartTime }}"></time>
  <time itemprop="coverageEndTime" datetime="{{ coverageEndTime }}"></time>
  {{ content }}
  {% include twitter-contact.html %}
  <div class="ads-horizontal" id="ad-horizontal">
    {% include adsense-horizontal.html %}
  </div>
  <div class="ads-horizontal-mobile" id="ad-mobile">
    {% include adsense-mobile.html %}
  </div>
  {% include posts.html %}
</div>
