---
layout: default
---
<div class="container page-content" itemscope itemtype="http://schema.org/BlogPosting" itemid="{{ post.url }}">
  <meta itemprop="startDate" datetime="25-11-2015"/>
  <meta itemprop="datePublished" datetime="25-11-2015"/>
  <meta itemprop="name" content="{{ description }}"/>
  <time itemprop="coverageStartTime" datetime="{{ coverageStartTime }}"></time>
  <time itemprop="coverageEndTime" datetime="{{ coverageEndTime }}"></time>
  {{ content }}
  {% include twitter-contact.html %}
  <div class="ads-horizontal" id="ad-horizontal">
    {% include adsense-horizontal.html %}
  </div>
  <div class="ads-horizontal-mobile" id="ad-mobile">
    {% include adsense-mobile.html %}
  </div>
  {% include posts.html %}
</div>
