---
layout: default
---
<div class="container page-content" itemscope itemtype="http://schema.org/BlogPosting" itemid="{{ post.url }}">
  <meta itemprop="startDate" datetime="2015-11-09"/>
  <meta itemprop="datePublished" datetime="2015-11-25"/>
  <meta itemprop="description" content="{{ description }}"/>
  {{ content }}
  {% include twitter-contact.html %}
  <div class="ads-horizontal" id="ad-horizontal">
    {% include adsense-horizontal.html %}
  </div>
  <div class="ads-horizontal-mobile" id="ad-mobile">
    {% include adsense-mobile.html %}
  </div>
  {% include posts.html %}
</div>
